@charset "utf-8";
*font-family: "微软雅黑"
#Query{
	width: auto;
	overflow: hidden;
	margin:0 auto;
}
#Query p{text-align: center;}
.chaxunshuming{font-size:30px;font-family: "微软雅黑";}
.chaxunkuang{width:270px;height:35px;border-radius:5px;border:1px solid #CCC;padding-left:10px;}
.queryButton{width:135px;height:35px; background-color:#F0184D;color:white;}
.backButton{width:135px;height:35px;background-color:#FFFFFF;border:1px solid #CCC;}
